<div class="menu">
    <div>
        <img src="../../../assets/Usuario.png" alt="usuario" class="Usuario">
        <p class="welcome">Bem vindo! {{usuario}}</p>
        <p class="welcome"*ngIf="pontuacao!=undefined">Pontuação: {{pontuacao}}</p>
    </div>
    <mat-nav-list class="teste">
        <a (click)="onSidenavClose(estilo)"
         mat-list-item routerLink="/home"  
         [class.clicked]='true' 
        >
            <mat-icon>home</mat-icon> <span >Home</span>
        </a>
        <a mat-list-item routerLink="/ranking" (click)="onSidenavClose(estilo)" >
            <mat-icon>emoji_events</mat-icon> <span >Ranking</span>   
        </a>
        <a mat-list-item (click)="teste(estilo)" >
            <mat-icon>settings</mat-icon> <span >Opções</span>   
        </a>
    </mat-nav-list>
</div>