.menu{
   background-color: #d5d5d5;
   height: 100%; 
}

.Usuario{
    width: 50%;
    padding: 60px;
    margin-top: -40px;
}
.welcome{
    font-size: larger;
    text-align: center;
    color:#7acfc4;;
    font-weight: 900;
}
a:hover{
    color: rgb(255, 208, 105);
}
a:active{
    background-color:#7acfc4; 
    color: white;
}
.edicao{
    background-color: #d5d5d5;
}





