<div class="example-container">
    <form [formGroup]="JogadoraForm">
        <div>
            <label>Float label: </label>
            <mat-radio-group [formControl]="floatLabelControl"aria-label="Select an option">
                <mat-radio-button value="1">Adicionar</mat-radio-button>
                <mat-radio-button value="2">Editar</mat-radio-button>
                <mat-radio-button value="3">Excluir</mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- nome add -->
        <mat-form-field appearance="fill" *ngIf="floatLabelControl.value=='1'">
            <input matInput formControlName="name"placeholder="Nome da jogadora" required>
        </mat-form-field>  
        <!-- nome edit e excluir -->
        <mat-form-field appearance="fill" *ngIf="floatLabelControl.value!='1'">
        <mat-label>Nome da jogadora</mat-label>
        <mat-select  required formControlName="name" >
            <mat-option *ngFor="let Jogadora of Jogadoras" [value]="Jogadora">
            {{Jogadora.name}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <!-- preço -->
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0">
          </mat-form-field>
    </form>
</div>

