<section class="form" >
  <mat-card class="card">
    <mat-card-header class="card-top">
      <mat-card-title>  
        <h1 class="title">Cadastro</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form"[formGroup]="cadastroForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email"
                 placeholder="Ex. pat@example.com">
          <mat-error *ngIf="cadastroForm.controls">Informe seu email.</mat-error> 
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input  matInput  formControlName="name" >
          <mat-error *ngIf="cadastroForm.controls">Informe seu nome</mat-error> 
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input  matInput formControlName="senha" >
          <mat-error *ngIf="cadastroForm.controls">Informe sua senha</mat-error> 
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Confirme sua senha</mat-label>
          <input  matInput formControlName="senha2" >
          <mat-error *ngIf="cadastroForm.controls">Informe sua  confirmação de senha</mat-error> 
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input formControlName="date" matInput [matDatepicker]="picker">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="button">
          <button mat-button color="primary" (click)="cadastro(cadastroForm.value)" style="color:white; "class="btn-success">Adicionar
          </button>
          <button mat-button color="primary"  routerLink="/login" style="color:white; "class="btn-success">voltar
          </button>
        </div>
      </form>    
    </mat-card-content>
    <mat-card-footer style="text-align: center; padding-bottom: 5px;">
        <p [hidden]="!validacao" style="color:red; margin-top: -20px; padding-bottom: 5px;"><strong>{{msgErro}}</strong></p>
    </mat-card-footer>
  </mat-card>
</section>
<app-footer></app-footer>