<section class="form" >
    <mat-card class="card">
        <form class="card-top" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="formcadastro">
        <mat-form-field class="input">
            <input (input)="validacao = false" matInput 
            placeholder="Email" formControlName="username">
             <!-- <mat-error *ngIf="loginForm.controls.username.invalid">Informe seu nome de usuário.</mat-error>  -->
          </mat-form-field>
          <mat-form-field class="input">
            <input (input)="validacao = false" matInput 
            placeholder="username" formControlName="username">
             <!-- <mat-error *ngIf="loginForm.controls.username.invalid">Informe seu nome de usuário.</mat-error>  -->
          </mat-form-field>
          <mat-form-field class="input">
            <input (input)="validacao = false"matInput 
            placeholder="Senha" formControlName="senha">
             <!-- <mat-error *ngIf="loginForm.controls.username.invalid">Informe seu nome de usuário.</mat-error>  -->
          </mat-form-field>
          <mat-form-field class="input">
            <input (input)="validacao = false"matInput 
            placeholder="Comfirme sua senha" formControlName="senha">
             <!-- <mat-error *ngIf="loginForm.controls.username.invalid">Informe seu nome de usuário.</mat-error>  -->
          </mat-form-field>
        </form>  
    </mat-card>
</section>