
.logo{
    height:60%;
    width:60%
     
}
.form{
    width: 400px;
    margin:auto;
    padding-top: 40px;
}
.card{
    box-shadow: 1px 1px 5px black;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}
.card-top{
    text-align: center;
    font-family:sans-serif;
    width:100%;
    
}
.title{
    color:#F28907;
    margin-left: auto;
    margin-right: auto;
    width: 12em

}

.Login{
    width:20%; 
}
.LoginInput{
    width: 100%;
}
.btn-success{
    background-color:#F28907 ;
}
a{
    color: #F28907;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #272262;
}

