<p>login works!</p>

<section class="form" >
  <mat-card class="card">
    <mat-card-header class="card-top">
      <mat-card-title>  
        <img src="../../../assets/Logo.png" alt="Red Seller" class="logo" >
        <h1 class="title">Login</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="card-top" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm">
        <mat-form-field class="input">
          <input (input)="validacao = false" matInput placeholder="Email" formControlName="username">
          <!-- <mat-error *ngIf="loginForm.controls.username.invalid">Informe seu nome de usuário.</mat-error> -->
        </mat-form-field>
        <mat-form-field class="input"> 
          <input (input)="validacao = false" [type]="hideSenha ? 'password' : 'text'" matInput placeholder="Senha" formControlName="password">
          <mat-icon matSuffix (click)="hideSenha = !hideSenha" class="linkPointer" style="font-size: 100%;">{{hideSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
          <!-- <mat-error *ngIf="loginForm.controls.password.invalid">Insira sua senha.</mat-error> -->
        </mat-form-field>
        <section class="sectionLogin">
          <div class="button">
            <button mat-button color="primary" style="color:white; "class="btn-success"(click)="login(loginForm.value)"routerLink="/dashboard/apdata/feriados" [disabled]="!loginForm.valid">Entrar</button>
          </div>
        </section>
        <section class="sectionLogin">
          <p>Não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
        </section>
      </form>      
    </mat-card-content>
    <mat-card-footer style="text-align: center; padding-bottom: 5px;">
        <p [hidden]="!validacao" style="color:red; margin-top: -20px; padding-bottom: 5px;"><strong>{{msgErro}}</strong></p>
    </mat-card-footer>
  </mat-card>
</section>