<div class="mainDiv">
  <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>Pokemon</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
      </mat-card-actions>
  </mat-card>
</div>

<div class="mainDiv">
  <!-- <app-m-mat-card [header]="header"></app-m-mat-card> -->
</div>