<section class="home">
  <div class="right" >
    <div class="campo">
      <mat-card class="card">
        <div  class='botao_1'>
        </div>
        <div class="frente">
          <div class='botao_2'>
            <button class="tamanho_2">2</button >
          </div>
          <div class='botao_3'>
            <button  class="tamanho_2">3</button >
          </div>
        </div> 
        <div  class='botao_4'>
          <button class=tamanho_1>4</button >
        </div>
        <div class="centro">
          <div class='botao_5'>
            <button class="tamanho_2" >5</button >
          </div>
        </div> 
        <div class="fundo">
          <div class='botao_6'>
            <button class="tamanho_2" >6</button >
          </div>
          <div class='botao_7'>
            <button class="tamanho_2" >7</button >
        </div>
        <div class='botao_8'>
          <button class="tamanho_2" >8</button >
        </div>
      </div>
    </mat-card>
    </div>
  </div>
  <div class="left">
    <mat-card class="jogadoras" >
    </mat-card>
  </div>
</section>  
  
