.card{
    box-shadow: 1px 1px 2px black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;

}
.form{
    align-items: center;
    width: 500px;
    margin:auto;
}