<mat-toolbar >
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
            <ul fxLayout  class="navigation-items">
                <img src="../../../assets/Logo.png" alt="Red Seller" class="logo" >
            </ul>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
         <button  mat-icon-button routerLink="/login"><mat-icon  fxLayout >exit_to_app</mat-icon></button>
        </div>
  </mat-toolbar>

