<mat-sidenav-container style="height: 100% ; width: 100%;">
    <mat-sidenav #sidenav role="navigation">
      <app-menu-lateral (sidenavClose)="sidenav.close()"></app-menu-lateral>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100% ; width: 100%;">
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <router-outlet id="teste"></router-outlet>
        <mat-card-footer id="footer">
            <app-footer ></app-footer>
        </mat-card-footer>
    </mat-sidenav-content>
</mat-sidenav-container>

