<mat-sidenav-container style="height: 100% ; width: 100%;" >
    <mat-sidenav #sidenav role="navigation">
      <app-menu-lateral (sidenavClose)="sidenav.close()"></app-menu-lateral>
    </mat-sidenav>
    <mat-sidenav-content >
        <div style=" width: 100%;">
        <app-header (sidenavToggle)="sidenav.toggle()" onchange="onchange()"></app-header>
        </div>
        <div style="height: 100% ; width: 100%;">
            <router-outlet></router-outlet>
        </div>
        <div>
            <mat-card-footer id="footer">
                <app-footer ></app-footer>
            </mat-card-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


